<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
		<script type="text/javascript" th:src="@{'/js/manage/jquery'+'-3.3.1.min.js'}"></script>
		<script type="text/javascript" th:src="@{/js/manage/chat.js}"></script>
		<script type="text/javascript" th:src="@{/js/manage/bootstrap.min.js}"></script>
		<title></title>
	</head>
	<body>
		<table class="table table-hover" id="tab">
			<caption>RoomList</caption>
			<thead>
				<tr>
				  <!-- <th>序号</th> -->
				  <th>聊天室ID</th>
				  <th>路径</th>
				  <th>名称</th>
				</tr>
			</thead>
			<tbody>
				<!-- <tr>
				  <th>1</th>
				  <td></td>
				  <td></td>
				  <td></td>
				</tr>
				<tr>
				  <th>2</th>
				  <td></td>
				  <td></td>
				  <td></td>
				</tr>
				<tr>
				  <th>3</th>
				  <td></td>
				  <td></td>
				  <td></td>
				</tr> -->
			</tbody>
		</table>
	</body>
</html>
